html {
    margin: 0;
    border: 0;
    width: auto;
    height: auto;
    background-image: url(../IMG/station-herta/background-herta.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(18, 6, 67, 1);
}



body {
    margin: 0;
    border: 0;
    display: fixed;
    justify-items: center;
}

/*header*/
header {
    width: 1170px;
    height: 106px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    background-color: rgb(63, 69, 122);
}

.header-title {
    width: 291px;
    height: 52px;
}

.colorblock {
    position: absolute;
    width: 400px;
    height: 40px;
    background-color: rgb(137, 153, 209);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 43px 922px 0px 37px;
}

.title-starrail {
    position: absolute;
    font-family: sans-serif;
    font-size: 44px;
    font-weight: 900;
    line-height: 53px;
    letter-spacing: 0.1em;
    text-align: left;
    color: rgb(255, 255, 255);
    margin: 23px 0px 31px 55px;
}

.media-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding-left: 1005px;
}

.login-area {
    position: absolute;
    width: 55px;
    height: 31px;
    background-color: rgba(255, 236, 63, 1);
    margin: 37px 111px 38px 0px;
    display: flex;
    justify-content: center;
    border-radius: 3px;
}

.login-area:hover {
    border: 2px solid rgb(142, 77, 0);
}

.login {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(142, 77, 0);
    margin-top: 6px;
    margin-bottom: 6px;
    text-decoration: none;
}

.register-area {
    width: 55px;
    height: 31px;
    background-color: rgba(134, 134, 134, 1);
    margin: 37px 30px 38px 25px;
    display: flex;
    justify-content: center;
    border-radius: 3px;
}

.register-area:hover {
    border: 2px solid black;
}

.register {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 6px;
    margin-bottom: 6px;
    text-decoration: none;
}

/*nav*/
.nav {
    background-color: rgba(0, 10, 98, 1);
    width: 1170px;
    height: 53px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}

.nav-list {
    display: flex;
    padding-left: 35px;
}

.nav-item {
    list-style: none;
    margin: 17px 0px;
}

.nav-link {
    margin-right: 83px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-align: left;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

/*content*/
.bgc {
    width: 1170px;
    height: 100%;
    margin: 0px auto;
    background-color: rgba(63, 69, 122, 0.50) !important;
}

.station-area {
    width: 1170px;
    height: 304px;
    margin: 0px auto;
    display: flex;
    align-items: center;
}

.herta {
    position: absolute;
    width: 254px;
    height: 196px;
    margin: 70px 867px 38px 50px;
}

.herta:hover{
    position: absolute;
    width: 312px;
    height: 236px;
    margin-left: 21px;
}

.arrow1 {
    position: absolute;
    width: 32px;
    height: 43px;
    margin: 147px 787px 115px 352px;
}

.jarilo {
    position: absolute;
    width: 250px;
    height: 196px;
    margin: 70px 490px 38px 431px;
}

.jarilo:hover{
    position: absolute;
    width: 301px;
    height: 236px;
    margin-left: 406px;
}

.arrow2 {
    position: absolute;
    width: 32px;
    height: 43px;
    margin: 147px 410px 115px 729px;
}

.luofu {
    position: absolute;
    width: 313px;
    height: 196px;
    margin: 70px 50px 38px 808px;
}

.luofu:hover{
    position: absolute;
    width: 377px;
    height: 236px;
    margin-left: 776px;
}

.marker {
    position: absolute;
    width: 59px;
    height: 78px;
    margin: 55px 964px 171px 148px;
    display: block;
}

.introduce-area {
    width: 1170px;
    height: 619px;
    margin: 0px auto;
}

.introduce-title {
    width: 491px;
    height: 91px;
    background-color: rgb(137, 153, 209);
    border-radius: 3px 100px 3px 60px;
    margin: 67px 657px 27px 23px;
}

.introduce-text {
    width: 86px;
    height: 24px;
    font-family: sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    position: absolute;
    margin: 34px 349px 33px 56px;
}

.introduce-content {
    width: 1170px;
    height: 434px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 442px;
    height: 325px;
    margin: 0px 46px 0px 48px;
}

.content-title {
    width: 183px;
    height: 29px;
    margin: 0px 130px 27px 129px;
}

.station-name {
    font-family: sans-serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: 29px;
    text-align: left;
    color: rgb(255, 255, 255);
    margin: 0px;
}

.content-text1 {
    width: 442px;
    height: 117px;
    margin-bottom: 11px;
}

.content-describe1 {
    font-family: sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-align: left;
    color: rgb(255, 255, 255);
}

.more{
    text-decoration: underline;
}

.text-line{
    width: 442px;
    height: 1px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 27px;
}

.content-text2{
    width: 442px;
    height: 114px;
}

.content-describe2 {
    font-family: sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-align: left;
    color: rgb(255, 255, 255);
}

.introduce-img{
    width: 609px;
    height: 346px;
    margin: 11px 26px 77px 0px;
}

.herta-img{
    position: absolute;
    display: block;
}

.belobog-img{
    position: absolute;
    display: none;  
}

.luofu-img{
    position: absolute;
    display: none;
}

/*footer*/
footer {
    height: 60px;
    width: 100%;
    background-color: rgb(0, 10, 98);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0%;
}

.copyrights {
    color: rgb(77, 137, 255);
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}